In [2]:
import pandas as pd
import numpy as np

#import warnings
#warnings.filterwarnings('ignore')

In [3]:
# client data
df_clients =pd.read_csv('data/client_train.csv')

# invoice score
df_invoice =pd.read_csv('data/invoice_train.csv')

/var/folders/xc/hzxkdm6x30g7x6m188q7h66h0000gn/T/ipykernel_19087/3352888719.py:5: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_invoice =pd.read_csv('data/invoice_train.csv')

In [4]:
df_clients.head()

   disrict          client_id  client_catg  region creation_date  target
0       60     train_Client_0           11     101    31/12/1994     0.0
1       69     train_Client_1           11     107    29/05/2002     0.0
2       62    train_Client_10           11     301    13/03/1986     0.0
3       69   train_Client_100           11     105    11/07/1996     0.0
4       62  train_Client_1000           11     303    14/10/2014     0.0

In [5]:
df_invoice.head()

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11,1335667,0,203,8,1,82,0,0,0,14302,14384,4,ELEC
1,train_Client_0,2013-03-29,11,1335667,0,203,6,1,1200,184,0,0,12294,13678,4,ELEC
2,train_Client_0,2015-03-23,11,1335667,0,203,8,1,123,0,0,0,14624,14747,4,ELEC
3,train_Client_0,2015-07-13,11,1335667,0,207,8,1,102,0,0,0,14747,14849,4,ELEC
4,train_Client_0,2016-11-17,11,1335667,0,207,9,1,572,0,0,0,15066,15638,12,ELEC

## Column descriptions:

### Client Data

* Client_id: Unique id for client
* District: District where the client is
* Client_catg: Category client belongs to
* Region: Area where the client is
* Creation_date: Date client joined
* Target: fraud:1 , not fraud: 0

### Invoice Data

* Client_id: Unique id for the client
* Invoice_date: Date of the invoice
* Tarif_type: Type of tax
* Counter_number:
* Counter_statue: takes up to 5 values such as working fine, not working, on hold statue, ect
* Counter_code:
* Reading_remarque: notes that the STEG agent takes during his visit to the client (e.g: If the counter shows something wrong, the agent gives a bad score)
* Counter_coefficient: An additional coefficient to be added when standard consumption is exceeded
* Consommation_level_1: Consumption_level_1
* Consommation_level_2: Consumption_level_2
* Consommation_level_3: Consumption_level_3
* Consommation_level_4: Consumption_level_4
* Old_index: Old index
* New_index: New index
* Months_number: Month number
* Counter_type: Type of counter

 the consumption level refers to the threshold of consumption to which a certain price is attributed

In [4]:
#Y = coffee_quality["quality_score"]

# Data cleaningin and feature engineering

In [7]:
df_clients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135493 entries, 0 to 135492
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   disrict        135493 non-null  int64
 1   client_id      135493 non-null  object
 2   client_catg    135493 non-null  int64
 3   region         135493 non-null  int64
 4   creation_date  135493 non-null  object
 5   target         135493 non-null  float64
dtypes: float64(1), int64(3), object(2)
memory usage: 6.2+ MB

In [6]:
df_invoice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4476749 entries, 0 to 4476748
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          object
 2   tarif_type            int64
 3   counter_number        int64
 4   counter_statue        object
 5   counter_code          int64
 6   reading_remarque      int64
 7   counter_coefficient   int64
 8   consommation_level_1  int64
 9   consommation_level_2  int64
 10  consommation_level_3  int64
 11  consommation_level_4  int64
 12  old_index             int64
 13  new_index             int64
 14  months_number         int64
 15  counter_type          object
dtypes: int64(12), object(4)
memory usage: 546.5+ MB

In [10]:
df_invoice.isnull().sum()

client_id               0
invoice_date            0
tarif_type              0
counter_number          0
counter_statue          0
counter_code            0
reading_remarque        0
counter_coefficient     0
consommation_level_1    0
consommation_level_2    0
consommation_level_3    0
consommation_level_4    0
old_index               0
new_index               0
months_number           0
counter_type            0
dtype: int64

In [11]:
df_invoice.describe().T

,count,mean,std,min,25%,50%,75%,max
tarif_type,4476749.0,2.012804e+01,1.347256e+01,8.0,11.0,11.0,40.0,4.500000e+01
counter_number,4476749.0,1.230587e+11,1.657267e+12,0.0,121108.0,494561.0,1115161.0,2.798115e+13
counter_code,4476749.0,1.724884e+02,1.338871e+02,0.0,5.0,203.0,207.0,6.000000e+02
reading_remarque,4476749.0,7.321702e+00,1.571654e+00,5.0,6.0,8.0,9.0,4.130000e+02
counter_coefficient,4476749.0,1.003040e+00,3.083466e-01,0.0,1.0,1.0,1.0,5.000000e+01
consommation_level_1,4476749.0,4.109795e+02,7.573080e+02,0.0,79.0,274.0,600.0,9.999100e+05
consommation_level_2,4476749.0,1.093225e+02,1.220123e+03,0.0,0.0,0.0,0.0,9.990730e+05
consommation_level_3,4476749.0,2.030620e+01,1.574239e+02,0.0,0.0,0.0,0.0,6.449200e+04
consommation_level_4,4476749.0,5.292588e+01,8.754725e+02,0.0,0.0,0.0,0.0,5.479460e+05
old_index,4476749.0,1.776700e+04,4.036693e+04,0.0,1791.0,7690.0,21660.0,2.800280e+06
new_index,4476749.0,1.834970e+04,4.095321e+04,0.0,2056.0,8192.0,22343.0,2.870972e+06
months_number,4476749.0,4.483095e+01,3.128335e+03,0.0,4.0,4.0,4.0,6.366240e+05

In [13]:
df_joined =  pd.merge(df_clients, df_invoice, on="client_id", how="left")
#df_clients.join(df_invoice, on='client_id', how='left')

In [14]:
df_joined.head(20)

,disrict,client_id,client_catg,region,creation_date,target,invoice_date,tarif_type,counter_number,counter_statue,...,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,60,train_Client_0,11,101,31/12/1994,0.0,2014-03-24,11,1335667,0,...,8,1,82,0,0,0,14302,14384,4,ELEC
1,60,train_Client_0,11,101,31/12/1994,0.0,2013-03-29,11,1335667,0,...,6,1,1200,184,0,0,12294,13678,4,ELEC
2,60,train_Client_0,11,101,31/12/1994,0.0,2015-03-23,11,1335667,0,...,8,1,123,0,0,0,14624,14747,4,ELEC
3,60,train_Client_0,11,101,31/12/1994,0.0,2015-07-13,11,1335667,0,...,8,1,102,0,0,0,14747,14849,4,ELEC
4,60,train_Client_0,11,101,31/12/1994,0.0,2016-11-17,11,1335667,0,...,9,1,572,0,0,0,15066,15638,12,ELEC
5,60,train_Client_0,11,101,31/12/1994,0.0,2017-07-17,11,1335667,0,...,9,1,314,0,0,0,15638,15952,8,ELEC
6,60,train_Client_0,11,101,31/12/1994,0.0,2018-12-07,11,1335667,0,...,9,1,541,0,0,0,15952,16493,12,ELEC
7,60,train_Client_0,11,101,31/12/1994,0.0,2019-03-19,11,1335667,0,...,9,1,585,0,0,0,16493,17078,8,ELEC
8,60,train_Client_0,11,101,31/12/1994,0.0,2011-07-22,11,1335667,0,...,9,1,1200,186,0,0,7770,9156,4,ELEC
9,60,train_Client_0,11,101,31/12/1994,0.0,2011-11-22,11,1335667,0,...,6,1,1082,0,0,0,9156,10238,4,ELEC
10,60,train_Client_0,11,101,31/12/1994,0.0,2008-11-25,11,1335667,0,...,6,1,174,0,0,0,5417,5591,4,ELEC
11,60,train_Client_0,11,101,31/12/1994,0.0,2012-07-23,11,1335667,0,...,6,1,628,0,0,0,10780,11408,4,ELEC
12,60,train_Client_0,11,101,31/12/1994,0.0,2012-11-29,11,1335667,0,...,6,1,886,0,0,0,11408,12294,4,ELEC
13,60,train_Client_0,11,101,31/12/1994,0.0,2013-07-22,11,1335667,0,...,8,1,147,0,0,0,13983,14130,4,ELEC
14,60,train_Client_0,11,101,31/12/1994,0.0,2014-07-18,11,1335667,0,...,8,1,99,0,0,0,14384,14483,4,ELEC
15,60,train_Client_0,11,101,31/12/1994,0.0,2014-11-24,11,1335667,0,...,8,1,141,0,0,0,14483,14624,4,ELEC
16,60,train_Client_0,11,101,31/12/1994,0.0,2015-11-18,11,1335667,0,...,9,1,217,0,0,0,14849,15066,4,ELEC
17,60,train_Client_0,11,101,31/12/1994,0.0,2012-03-27,11,1335667,0,...,8,1,292,0,0,0,10488,10780,4,ELEC
18,60,train_Client_0,11,101,31/12/1994,0.0,2011-03-30,11,1335667,0,...,6,1,497,0,0,0,7273,7770,4,ELEC
19,60,train_Client_0,11,101,31/12/1994,0.0,2013-02-12,11,1335667,0,...,8,1,38,0,0,0,14264,14302,2,ELEC

In [17]:
print(df_joined.client_id.nunique())
df_joined.counter_number.nunique()

135493

201893

In [18]:
df_joined.nunique()

disrict                      4
client_id               135493
client_catg                  3
region                      25
creation_date             8088
target                       2
invoice_date              8275
tarif_type                  17
counter_number          201893
counter_statue              16
counter_code                42
reading_remarque             8
counter_coefficient         16
consommation_level_1      8295
consommation_level_2     12576
consommation_level_3      2253
consommation_level_4     12075
old_index               155648
new_index               157980
months_number             1370
counter_type                 2
dtype: int64

In [19]:
df_joined.counter_type.unique()

array(['ELEC', 'GAZ'], dtype=object)

In [21]:
df_joined.client_catg.unique()

array([11, 12, 51])

In [22]:
df_joined.tarif_type.unique()

array([11, 40, 15, 10, 12, 14, 13, 45, 29,  9, 30,  8, 21, 42, 27, 18, 24])

In [32]:
df_joined.groupby('counter_statue').count()

,disrict,client_id,client_catg,region,creation_date,target,invoice_date,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
counter_statue,,,,,,,,,,,,,,,,,,,,
0,4346960,4346960,4346960,4346960,4346960,4346960,4346960,4346960,4346960,4346960,4346960,4346960,4346960,4346960,4346960,4346960,4346960,4346960,4346960,4346960
1,73496,73496,73496,73496,73496,73496,73496,73496,73496,73496,73496,73496,73496,73496,73496,73496,73496,73496,73496,73496
2,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32,32
3,258,258,258,258,258,258,258,258,258,258,258,258,258,258,258,258,258,258,258,258
4,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706,2706
5,20495,20495,20495,20495,20495,20495,20495,20495,20495,20495,20495,20495,20495,20495,20495,20495,20495,20495,20495,20495
46,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
420,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
618,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
769,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
269375,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
0,32048,32048,32048,32048,32048,32048,32048,32048,32048,32048,32048,32048,32048,32048,32048,32048,32048,32048,32048,32048
1,540,540,540,540,540,540,540,540,540,540,540,540,540,540,540,540,540,540,540,540
4,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23
5,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144
A,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13

In [34]:
df_joined.groupby('counter_code').count()

,disrict,client_id,client_catg,region,creation_date,target,invoice_date,tarif_type,counter_number,counter_statue,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
counter_code,,,,,,,,,,,,,,,,,,,,
0,33,33,33,33,33,33,33,33,33,33,33,33,33,33,33,33,33,33,33,33
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
5,1352035,1352035,1352035,1352035,1352035,1352035,1352035,1352035,1352035,1352035,1352035,1352035,1352035,1352035,1352035,1352035,1352035,1352035,1352035,1352035
10,27744,27744,27744,27744,27744,27744,27744,27744,27744,27744,27744,27744,27744,27744,27744,27744,27744,27744,27744,27744
16,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73,73
25,14934,14934,14934,14934,14934,14934,14934,14934,14934,14934,14934,14934,14934,14934,14934,14934,14934,14934,14934,14934
40,2482,2482,2482,2482,2482,2482,2482,2482,2482,2482,2482,2482,2482,2482,2482,2482,2482,2482,2482,2482
65,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74
101,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74
102,313,313,313,313,313,313,313,313,313,313,313,313,313,313,313,313,313,313,313,313
201,7672,7672,7672,7672,7672,7672,7672,7672,7672,7672,7672,7672,7672,7672,7672,7672,7672,7672,7672,7672
202,343251,343251,343251,343251,343251,343251,343251,343251,343251,343251,343251,343251,343251,343251,343251,343251,343251,343251,343251,343251
203,1516836,1516836,1516836,1516836,1516836,1516836,1516836,1516836,1516836,1516836,1516836,1516836,1516836,1516836,1516836,1516836,1516836,1516836,1516836,1516836
204,12427,12427,12427,12427,12427,12427,12427,12427,12427,12427,12427,12427,12427,12427,12427,12427,12427,12427,12427,12427
207,555628,555628,555628,555628,555628,555628,555628,555628,555628,555628,555628,555628,555628,555628,555628,555628,555628,555628,555628,555628
210,789,789,789,789,789,789,789,789,789,789,789,789,789,789,789,789,789,789,789,789
214,2643,2643,2643,2643,2643,2643,2643,2643,2643,2643,2643,2643,2643,2643,2643,2643,2643,2643,2643,2643
222,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42,42
227,178,178,178,178,178,178,178,178,178,178,178,178,178,178,178,178,178,178,178,178
303,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
305,44,44,44,44,44,44,44,44,44,44,44,44,44,44,44,44,44,44,44,44
307,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50,50
310,51,51,51,51,51,51,51,51,51,51,51,51,51,51,51,51,51,51,51,51
317,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
325,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
333,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
367,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
403,1070,1070,1070,1070,1070,1070,1070,1070,1070,1070,1070,1070,1070,1070,1070,1070,1070,1070,1070,1070
407,13768,13768,13768,13768,13768,13768,13768,13768,13768,13768,13768,13768,13768,13768,13768,13768,13768,13768,13768,13768
410,69080,69080,69080,69080,69080,69080,69080,69080,69080,69080,69080,69080,69080,69080,69080,69080,69080,69080,69080,69080
413,378917,378917,378917,378917,378917,378917,378917,378917,378917,378917,378917,378917,378917,378917,378917,378917,378917,378917,378917,378917
420,98273,98273,98273,98273,98273,98273,98273,98273,98273,98273,98273,98273,98273,98273,98273,98273,98273,98273,98273,98273
433,34447,34447,34447,34447,34447,34447,34447,34447,34447,34447,34447,34447,34447,34447,34447,34447,34447,34447,34447,34447
442,17050,17050,17050,17050,17050,17050,17050,17050,17050,17050,17050,17050,17050,17050,17050,17050,17050,17050,17050,17050
450,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059
453,8290,8290,8290,8290,8290,8290,8290,8290,8290,8290,8290,8290,8290,8290,8290,8290,8290,8290,8290,8290
467,7302,7302,7302,7302,7302,7302,7302,7302,7302,7302,7302,7302,7302,7302,7302,7302,7302,7302,7302,7302
483,2830,2830,2830,2830,2830,2830,2830,2830,2830,2830,2830,2830,2830,2830,2830,2830,2830,2830,2830,2830
506,3389,3389,3389,3389,3389,3389,3389,3389,3389,3389,3389,3389,3389,3389,3389,3389,3389,3389,3389,3389
532,1982,1982,1982,1982,1982,1982,1982,1982,1982,1982,1982,1982,1982,1982,1982,1982,1982,1982,1982,1982
565,1082,1082,1082,1082,1082,1082,1082,1082,1082,1082,1082,1082,1082,1082,1082,1082,1082,1082,1082,1082
600,807,807,807,807,807,807,807,807,807,807,807,807,807,807,807,807,807,807,807,807

In [33]:
df_joined.counter_code.unique()

array([203, 207, 413,   5, 467, 202, 420, 410,  10, 483,  25, 433, 407,
       204, 214, 442, 453, 506, 450, 403, 333, 201, 102, 305, 210, 101,
       532,  40, 310, 565, 600, 307, 303, 222,  65,   0, 227, 325,  16,
       317, 367,   1])

In [35]:
df_joined.reading_remarque.unique()

array([  8,   6,   9,   7, 207, 413, 203,   5])

In [36]:
df_joined.groupby('reading_remarque').count()

,disrict,client_id,client_catg,region,creation_date,target,invoice_date,tarif_type,counter_number,counter_statue,counter_code,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
reading_remarque,,,,,,,,,,,,,,,,,,,,
5,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6,2230939,2230939,2230939,2230939,2230939,2230939,2230939,2230939,2230939,2230939,2230939,2230939,2230939,2230939,2230939,2230939,2230939,2230939,2230939,2230939
7,661,661,661,661,661,661,661,661,661,661,661,661,661,661,661,661,661,661,661,661
8,828123,828123,828123,828123,828123,828123,828123,828123,828123,828123,828123,828123,828123,828123,828123,828123,828123,828123,828123,828123
9,1416992,1416992,1416992,1416992,1416992,1416992,1416992,1416992,1416992,1416992,1416992,1416992,1416992,1416992,1416992,1416992,1416992,1416992,1416992,1416992
203,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
207,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
413,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12

In [37]:
df_joined.counter_coefficient.unique()

array([ 1,  3,  0, 10,  4, 33, 50, 20,  2,  6, 40,  9, 30,  5, 11,  8])

In [38]:
df_joined.old_index.unique()

array([ 14302,  12294,  14624, ..., 141551, 110850,  86004])

In [20]:
df_joined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4476749 entries, 0 to 4476748
Data columns (total 21 columns):
 #   Column                Dtype
---  ------                -----
 0   disrict               int64
 1   client_id             object
 2   client_catg           int64
 3   region                int64
 4   creation_date         object
 5   target                float64
 6   invoice_date          object
 7   tarif_type            int64
 8   counter_number        int64
 9   counter_statue        object
 10  counter_code          int64
 11  reading_remarque      int64
 12  counter_coefficient   int64
 13  consommation_level_1  int64
 14  consommation_level_2  int64
 15  consommation_level_3  int64
 16  consommation_level_4  int64
 17  old_index             int64
 18  new_index             int64
 19  months_number         int64
 20  counter_type          object
dtypes: float64(1), int64(15), object(5)
memory usage: 717.3+ MB

## To Dos

* remove client_id column
* turn into dummies: client_catg, tarif_type
* change target to 0,1
* turn creation_date, invoice_date  into datetime or something else
* feature engineering: number of counters per client. then drop client_id, counter_number
* counter_statue: turn strings 0-5 into int, check percentage of values not 0-5, check for pattern, remove
* counter_code: either dummies or find info on steg site or drop?
* reading_remarque: clean? turn into dummies
* counter_coefficient: try both?: treat numerically and as dummies?
* rescale consommation_level1 ... _4
* drop index old and new
* rescale months_number
* turn into dummy counter_type

In [6]:
#for this exercise we will only deal with numeric variables

X = coffee_features.select_dtypes(['number'])

## Splitting data for testing

In [7]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=42)

In [8]:
#dropping Quakers column and unnamed
#changing one of the altitude to log and droping the original
X_train["altitude_mean_log"] = np.log(X_train["altitude_mean_meters"])
X_train.drop(['altitude_mean_meters'], axis=1, inplace=True)
X_train.drop(['Quakers'], axis=1, inplace=True)
X_train.drop(['Unnamed: 0'], axis=1, inplace=True)

In [9]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 17 to 6
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Number.of.Bags        22 non-null     int64
 1   Harvest.Year          22 non-null     int64
 2   Fragrance...Aroma     22 non-null     float64
 3   Flavor                22 non-null     float64
 4   Aftertaste            22 non-null     float64
 5   Salt...Acid           22 non-null     float64
 6   Bitter...Sweet        22 non-null     float64
 7   Mouthfeel             22 non-null     float64
 8   Uniform.Cup           22 non-null     float64
 9   Clean.Cup             22 non-null     float64
 10  Balance               22 non-null     float64
 11  Cupper.Points         22 non-null     float64
 12  Total.Cup.Points      22 non-null     float64
 13  Moisture              22 non-null     float64
 14  Category.One.Defects  22 non-null     int64
 15  Category.Two.Defects  22 non-null     int64
 16  altitude_low_meters   19 non-null     float64
 17  altitude_high_meters  19 non-null     float64
 18  altitude_mean_log     19 non-null     float64
dtypes: float64(15), int64(4)
memory usage: 3.4 KB

In [10]:
altitude_low_meters_mean = X_train["altitude_low_meters"].mean()
altitude_high_meters_mean = X_train["altitude_high_meters"].mean()
altitude_mean_log_mean = X_train["altitude_mean_log"].mean()

In [11]:
# fillna with mean.. 
X_train["altitude_low_meters"] = X_train["altitude_low_meters"].fillna(altitude_low_meters_mean)
X_train["altitude_high_meters"] = X_train["altitude_high_meters"].fillna(altitude_high_meters_mean)
X_train["altitude_mean_log"] = X_train["altitude_mean_log"].fillna(altitude_mean_log_mean)

In [12]:
print(f"altitude low meters mean is {altitude_low_meters_mean}")
print(f"altitude_high_meters_mean is {altitude_high_meters_mean}")
print(f"altitude_mean_log_mean is {altitude_mean_log_mean}")

altitude low meters mean is 1500.3684210526317
altitude_high_meters_mean is 1505.6315789473683
altitude_mean_log_mean is 7.0571530664031155

## Trainining the model

In [13]:
## in order to exemplify how the predict will work.. we will save the y_train
X_test.to_csv("data/X_test.csv")
y_test.to_csv("data/y_test.csv")

In [15]:
#training the model
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, y_train)

In [17]:
from sklearn.metrics import mean_squared_error
y_train_pred = reg.predict(X_train)
mse = mean_squared_error(y_train, y_train_pred)
print(mse)

6.701014816713759e-28

In [18]:
#dropping Quakers column and unnamed
#changing one of the altitude to log and droping the original
X_test["altitude_mean_log"] = np.log(X_test["altitude_mean_meters"])
X_test.drop(['altitude_mean_meters'], axis=1, inplace=True)
X_test.drop(['Quakers'], axis=1, inplace=True)
X_test.drop(['Unnamed: 0'], axis=1, inplace=True)
# fillna with mean.. 
X_test["altitude_low_meters"] = X_test["altitude_low_meters"].fillna(altitude_low_meters_mean)
X_test["altitude_high_meters"] = X_test["altitude_high_meters"].fillna(altitude_high_meters_mean)
X_test["altitude_mean_log"] = X_test["altitude_mean_log"].fillna(altitude_mean_log_mean)

In [19]:
y_test_pred = reg.predict(X_test)
mse = mean_squared_error(y_test, y_test_pred)
print(mse)

2.08680004794465e-27